.field--type-pixelsize {
  padding: .1em 1em;
}

.field--type-pixelsize label,
.field--type-pixelsize .form-item {
  display: inline-block;
}

.field--type-pixelsize .form-type-item {
  margin: 0 1em;
  font-size: 1.3em;
}
